<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OrganizationId" value="234"/>
		<add key="ServiceInterval" value="30000"/>
		<!-- // 30000 milliseconds = 30 seconds-->
		<add key="NexAEIApiUrl" value="https://app.nexaei.com/api/checkin/MiscDeviceBulkCheckInOut"/>
		<!-- Prod: https://app.nexaei.com/api/checkin/MiscDeviceBulkCheckInOut UAT: http://35.197.140.185/UAT/api/checkin/MiscDeviceBulkCheckInOut -->
	</appSettings>
	<connectionStrings>
		<!--<add name="DeviceConnectionString" connectionString="Data Source=192.168.160.198\RELYONDB; Initial Catalog=Matrix; User Id=sa; Password=Realadmin123; Connect Timeout=200" providerName="System.Data.SqlClient"/>-->
		<add name="DeviceConnectionString" connectionString="Data Source=192.168.165.135\SQLEXPRESS; Initial Catalog=Matrix; User Id=sa; Password=nexval@123 ;Connect Timeout=200" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>

